<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calcultor</title>
</head>
<body>
<div>
    <h1 style="color:red;text-align:center;"> Online Calculator</h1>
</div>
<form action="/calculate" method="get">
<div>   <h1>Enter first number </h1>
<textarea name="number1"  style="width: 248px; height: 36px; background-color:#34eba4;"></textarea>
    </div>
    <br>
<div>
    <select name="operator" style="width: 248px;text-align:center;">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
</div>
    <div>
    <h1> Enter second number </h1>
<textarea name="number2" style="width: 248px; height: 36px; background-color:#34eba4;"></textarea> <br>
    <button type="submit">done</button>
    </div>
</form>

</body>
</html>